.scrollable::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rebeccapurple;
}

.scrollable::-webkit-scrollbar-track {
  background-color: green;
}

.scrollable {
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
